@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #cccc;
  box-shadow: 0 5px 15px #0000 (0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

/* Navbar kismini duzenleme  */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Arama cubugu beyaz kisim */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 150px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: relative;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
}

/* Arama cubugu icindeki buttonun dolgunlugu ve keskinligi*/
.search-bar button {
  background-color: #1f938c;
  color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 0 20px 20px 0px;
  cursor: pointer;
  position: absolute; /* Değişen satır */
  right: 10px; /* Değişen satır */
  top: 50%; /* Değişen satır */
  transform: translateY(-50%); /* Değişen satır */
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #047b77;
  transition: 0.3s ease;
}

/* Aktive edilen sayfayi gosterme */
#navbar li a:hover,
#navbar li a.active {
  color: black
}

/* Yazilarin alt kismindaki cizgiler*/
#navbar li a.active::after,
#navbar li a:hover ::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

/* Resmi duzenleme*/
#hero {
  background-image: url(img/Sade-kuvet-banyo-dekoru3.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Resim icerisindeki yazilari duzenleme*/
#hero h4 {
  padding-bottom: 15px;

}

#hero h1 {
  padding-bottom: 15px;
  color: #047b77
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: black;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* Stilleri güzelleştirme */
#feature {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;
}

.section-title {
  font-size: 32px;
  line-height: 40px;
  color: #047b77;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.fe-box {
  flex-basis: calc(25% - 30px);
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid white;
  border-radius: 4px;
  margin: 15px 0;
  transition: box-shadow 0.3s ease;
  background-color: white;
}

#feature .fe-box {
  width: 400px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0.03);
  border: 1px solid white;
  position: relative;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#feature .fe-box:hover {
  box-shadow: 20px 10px 54px rgba(70, 62, 221, 0.1);
}

.fe-box:hover {
  box-shadow: 20px 10px 54px rgba(70, 62, 221, 0.1);
}

.product-title {
  display: inline-block;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 600;
  background-color: #047b77;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.product-description {
  font-size: 16px;
  color: #465b52;
  margin-bottom: 0;
}

.image-container {
  margin-bottom: 15px;
}

.product-description {
  font-size: 16px;
  color: #465b52;
  margin-bottom: 0;
}

#feature .fe-box h4 {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h4 {
  display: inline-block;
  padding: 3px 8px 6px 8px;
  line-height: 1;
  border-radius: 5px;
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius:25px ;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02 );
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.06 );

}

#product1 .pro img{
  width: 100%;
  border-radius:20px ;
}

#product1 .pro .des{
  text-align: start;
    padding: 10px 0 ;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
  
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 182, 25);
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-size: 500;
  color: #088178 ;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/Tum\ urunler.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{
  color:black;
  font-size: 30px;
}

#banner h2 {
  color:black;
  font-size: 50px;
  padding: 10px 0;
}

#banner h2 span{
  color:#088178;
  font-size: 50px;
  padding: 10px 0;
}

#banner button:hover{
  background-color: #088178;
}

#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("img/Bazi\ urunler/stina-ozel-kuvet-cesme.webp");
  width: calc(50% - 15px);
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 30px;
}

#sm-banner .banner-box2{
  background-image: url("img/Bazi\ urunler/1700-kapali.webp");
}

#sm-banner h2{
  font-size: 50px;
  color:whitesmoke;
  padding: 20px 0;
  margin: 0;
}

#sm-banner h4{
  font-size: 25px;
  color:whitesmoke;
  padding:20px 0;
  margin: 0;
}

#sm-banner span{
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: 0;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color:transparent;
  cursor: pointer;
  border: 2px solid white;
  outline:none;
  transition: 0.2s;
}

#sm-banner .banner-box:hover button{ 
  background:#047b77 ;
  border:  1px solid #047b77;
}

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("img/Banyo/2020-trend-dusakabin-modelleri.jpg");
  width: calc(30%);
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}

#banner3 .banner-box2{
  background-image: url("img/Banyo/netdeko-narcis-duz-siyah-kuvet-f72-48_min.webp");
}

#banner3 .banner-box3
{
  background-image: url("img/Banyo/Ev-tipi-sauna-Dede-Dus-Cengelkoy.webp");
}

#banner3 h2{
  color: white;
  font-weight: 900;
}

#banner3 .banner-box:hover button{ 
  background:#047b77 ;
  border:  1px solid #047b77;
}

#banner3.banner-box2:hover button{
  background:#047b77 ;
  border:  1px solid #047b77;
}

#banner3 .banner-box3:hover button{
  background:#047b77 ;
  border:  1px solid #047b77;
}
#newsletter{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image:url(img/Arka\ plan\ su\ yesili.jpg);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #a1d7a5;
  padding: 20px;
}

#newsletter h4{ 
  font-size: 30px;
  font-weight: 900;
  color:#fff;
}

#newsletter p{ 
  font-size: 15px;
  font-weight: 500;
  color:whitesmoke;
}

#newsletter p span{ 
  color:yellow;
}

#newsletter .form{
  display: flex;
  align-items: center;
  gap: 10px;
}

#newsletter input{
  flex: 2;
  height: 3.125rem;
  padding: 00 1.125em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius:  4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color:blue ;
  color: white;
  white-space: normal;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
font-size: 13px;
margin: 0 0 8px 0;
}

footer br{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration:none;
  color:#222;
  margin-bottom:10px;
}

footer .copyright{
  width: 100%;
  text-align: center;
}







/* Media */
@media (max-width:799px) {
#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color:#E3E6F3 ;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

#navbar.active{
  right: 0px;
}

#navbar li {
  margin-bottom: 25px;
}

#mobile {
  display: flex;
  align-items: center;
}

#mobile i {
  color: #1a1a1a;
  font-size: 24px;
  padding-left: 20px;
}
  
#close{
  position:absolute;
  top: 30px;
  left: 30px;
  color:#222;
  font-size: 24px;
}

#lg-bag{
  display: none;
}




}